* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: #45265f;
}
::-webkit-scrollbar-thumb {
  background-color: #383770;
}
@keyframes entrada {
  from {
    opacity: 0.5;
    transform: translateY(-200px);
    background-color: #250d46;
  }
  10% {
    background-color: #45265f;
  }
  15% {
    background-color: #51108d;
  }
  20% {
    background-color: #6603a8;
  }
  25% {
    transform: translateY(0);
    background-color: #3f0f6d;
  }
  30% {
    background-color: #48018b;
  }
  35% {
    transform: translateY(0);
    background-color: #421477;
  }
  40% {
    background-color: #4a277a;
  }
  45% {
    background-color: #4e2c86;
  }
  50% {
    background-color: #414177;
  }
  55% {
    background-color: #590780;
  }
  60% {
    transform: translateY(0);
    background-color: #45265f;
  }
  65% {
    transform: translateY(0);
    background-color: #330353;
  }
  70% {
    background-color: #28005c;
    transform: translateY(0);
  }
  75% {
    background-color: #46297c;
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
    background-color: #351364;
  }
  85% {
    transform: translateY(0);
    background-color: #300e61;
  }
  90% {
    transform: translateY(0);
    background-color: #380877;
  }
  to {
    transform: translateY(0);
    background-color: #300e61;
  }
}
body {
  background-color: #121215;
  color: #eaeaea;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}
nav {
  padding: 64px;
  grid-area: timeline;
  overflow-y: scroll;
  animation: entrada 10s ease-in-out;
}
.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  margin-bottom: 64px;
}
.memory small {
  color: aqua;
  font-size: 0.93rem;
}
.memory h {
  color: rgb(203, 223, 223);
  font-size: 2.2rem;
}

.memory img {
  width: 60%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.memory:hover img {
  transform: scale(1.1);
}
.memory div {
  width: 100%;
  height: 280%;
  overflow: hidden;
  border-radius: 8px;
}
.memory p {
  font-size: 1.2rem;
  color: #bebebf;
  line-height: 26px;
}
aside {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  border-right: 1px solid;
  border-image: linear-gradient(#727275, #2c2c31) 1;
  background-image: url("./assets/background.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
aside * {
  animation: entrada 3s ease-in-out;
}
aside img:nth-child(2) {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 8px solid transparent;
  background: linear-gradient(#3e3e88, #0d0dc5, #45265f) padding-box,
    linear-gradient(260deg, #3e3e88, #0d0dc5, #45265f) border-box;
}
aside p {
  font-size: 2.36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-color: #121215;
  border-radius: 50%;
}
aside span {
  font-size: 0.87rem;
  color: #6564b9;
  border-color: #0d0dc5;
}
@media (max-width: 768px) {
  :root {
    font-size: 13px;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "profile"
      "timeline";
  }
  aside {
    border-right: none;
    padding: 32px 12px;
  }
  nav {
    overflow-y: visible;
    padding: 22px;
  }
}
